<%= yield %>

Thanks for organizing your orders with OrderTracking!
<%= @site_url %>

Don't want this mail? Change your subscribe settings in <%= OrderMailer.full_site_url + subscribe_settings_user_path(@user) %>