<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<%= yield %>

<br />
<p>Thanks for organizing your orders with OrderTracking!</p>
<a href=<%= @site_url %>><%= @site_url %></a>
<br />
<p style='color: gray; font-size: 80%'>
    Don't want this mail? Change your <%= link_to 'subscribe settings', OrderMailer.full_site_url + subscribe_settings_user_path(@user) %>
</p>
</body>
</html>