<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<%= yield %>

<br />
<%= link_to UserMailer.full_site_url, UserMailer.full_site_url %>
<br />
<p style='color: gray; font-size: 80%'>
  Don't want this mail? Change your <%= link_to 'subscribe settings', UserMailer.full_site_url + subscribe_settings_user_path(@user) %>
</p>
</body>
</html>