<h3 class='center brown'>Sign in</h3><br />
<% if @source != "bookmarklet" %><div class="large-2 medium-3 small-12 row"><% end %>
  <!--<div class="row">-->

    <%= form_for(:session, :url => sessions_path) do |f| %>

        <div class="field">
          <!--<%= f.label :email %>-->
          <%= f.text_field :email, :placeholder => 'Email' %>
        </div>

        <div class="field">
          <!--<%= f.label :password %>-->
          <%= f.password_field :password, :placeholder => 'Password' %>
        </div>

        <div class="actions center">
          <%= f.submit "Sign in", :class => 'button' %>
        </div>


    <% end %>


    <div class='center'>
      <br /><br /><p>New user? <%= link_to 'Sign up', signup_path %></p><br />

        <p><%= link_to 'Forgot your password?', new_forgot_path %></p>
    </div>

  <% if @source != "bookmarklet" %></div><% end %>
