/*.dialog {*/
    /*width: 600px !important;*/
    /*margin: 30px auto;*/
/*}*/

/*body {*/
    /*width: 600px;*/
    /*margin: 30px auto;*/
    /*position: relative;*/
/*}*/

.black_overlay{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 1000px;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:0.70;
    filter: alpha(opacity=80);
}

.white_content {
    display: block;
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    height: 800px;
    padding: 16px;
    border: 5px solid saddlebrown;
    background-color: white;
    z-index:1002;
    overflow: auto;
    margin: 30px auto;
}