.black_overlay{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:0.70;
    filter: alpha(opacity=80);
}

.white_content {
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    /*padding: 16px;*/
    border: 5px solid saddlebrown;
    background-color: white;
    z-index:1002;
    overflow: auto;
    margin: 30px auto;
}