It's about time!
================
You are now welcome to SIGN UP to <%= UserMailer.site_url %>

In order to sign up the site, just follow this link:
<%= UserMailer.full_site_url %>/signup
We hope that you'll like the site and make an efficient use of it.

See you there!
Order Tracking