<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2 style="color:saddlebrown"><strong>Invitation reminder</strong></h2>
<p>
  Hi again, i saw you haven't signed up for <em>Order Tracking</em> (yet..:), so i'm sending you this friendly reminder.<br />
</p>
<p>
  You are welcome to SIGN UP to <%= UserMailer.site_url %> by following this link:<br />
  <%= link_to UserMailer.full_site_url + signup_path, UserMailer.full_site_url + signup_path %><br />
  I hope that you'll like the site find it useful.
</p>
<p style="color:saddlebrown">See you there!<br />
  <strong>Order Tracking</strong></p>

<%= image_tag attachments.inline['logo.jpg'].url, alt: 'Order Tracking Logo' %>

<p style='color: gray; font-size: 80%'>
  Don't want this mail? <%= link_to 'unsubscribe', @unsubscribe_url %>
</p>
</body>
</html>