<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2 style="color:saddlebrown"><strong>It's about time!</strong></h2>
<p>
  You are now welcome to SIGN UP to <%= UserMailer.site_url %>
</p>
<p>
  In order to sign up the site, just follow this link: <br />
  <%= link_to UserMailer.full_site_url + signup_path, UserMailer.full_site_url + signup_path %><br />
  We hope that you'll like the site and make an efficient use of it.
</p>
<p style="color:saddlebrown">See you there!<br />
<strong>Order Tracking</strong></p>

<%= image_tag attachments.inline['logo.jpg'].url, alt: 'Order Tracking Logo' %>
</body>
</html>