Welcome to OrderTracking!
=========================

We're happy that you've signed up to the beta list of <%= UserMailer.site_url %>!

SOON we'll send you an invitation mail to join the site.
With OrderTracking you'll organize your orders, track them and get reminder notifications!

Thanks you for your interest and have a great day!