Invitation reminder
===================
Hi again, i saw you haven't signed up for Order Tracking (yet..:), so i'm sending you this friendly reminder.
You are welcome to SIGN UP to <%= UserMailer.site_url %> by following this link:
<%= UserMailer.full_site_url %>/signup

I hope that you'll like the site find it useful.

See you there!
Order Tracking

Don't want this mail? unsubscribe by using that link: <%= @unsubscribe_url %>