<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Welcome to OrderTracking!</h2>
<p>
  We're happy that you've signed up to the beta list of <%= UserMailer.site_url %>!
</p>
<p>
  SOON we'll send you an invitation mail to join the site.<br />
  With OrderTracking you'll organize your orders, track them and get reminder notifications!
</p>
<p>Thanks you for your interest and have a great day!</p>

<%= image_tag attachments.inline['logo.jpg'].url, alt: 'Order Tracking Logo' %>
</body>
</html>