<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Reset password</h2>
<p>Hello <%= @user.name %>,</p>
<p>Request for password reset has been made in the site.</p>
<p>You'll be able to reset your password in the next link:</p>
<p><%= link_to @reset_password_url, @reset_password_url %></p>

<p>This is one time link, so you'll able to use it only once.</p>

<p>Thanks for organizing your orders with OrderTracking!</p>
<%= link_to @site_url, @site_url %>
</body>
</html>