Reset password
==============
Hello <%= @user.name %>
Request for password reset has been made in the site.
You'll be able to reset your password in the next link:
<%= @reset_password_url %>

This is one time link, so you'll able to use it only once.

Thanks for organizing your orders with OrderTracking!
<%= @site_url %>