<h2>Welcome to OrderTracking, <%= @user.name %>!</h2>
<p>
  You have successfully signed up to <%= UserMailer.site_url %>, Congratulations!
</p>
<p>
  To login to the site, just follow this link: <a href=<%= @url %>><%= @url %></a>.
</p>
<p>Thanks for joining us and have a great day!</p>

<%= image_tag attachments.inline['logo.jpg'].url, alt: 'Order Tracking Logo' %>