Welcome to Order Tracking, <%= @user.name %>!
===============================================

You have successfully signed up to <%= UserMailer.site_url %>, Congratulations!

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!