<div class="large-4 medium-8 small-11 row">
<br />
<p><strong>Please enter you email,</strong></br>We'll send you instructions in order to reset your password</p>

<%= form_for :user, :url => forgot_index_path do |f| %>

    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.text_field :email, :placeholder => 'Email' %>
    </div>

    <div class="actions text-center">
      <%= f.submit "Submit", :controller => 'ForgotController', :class => 'button' %><br />
    </div>


<% end %>

</div>