<h3 class='center brown'>Forgot password?</h3>

<div class="large-4 medium-8 small-11 center row">
    <p>Enter your existing E-mail and new password</p>

    <%= form_for(:user, :url => forgot_path(@key), :method => :put) do |f| %>
        <%= render 'shared/fields_mail_and_pass', :f => f %>

        <div class="field">
            <%= f.submit 'Update', :class => 'button' %>
        </div>
    <% end %>
</div>