/*.dialog {*/
    /*width: 50% !important;*/
    /*height: 50% !important;*/
    /*margin: 30px auto;*/
    /*opacity: 1;*/
/*}*/

.pagination {
    text-align: center;
}

.foundicon-edit.brown, .foundicon-trash.brown, .foundicon-checkmark.brown {
    color: saddlebrown;
}

.foundicon-edit.brown:hover, .foundicon-trash.brown:hover, .foundicon-checkmark.brown:hover {
    color: #703811;
}

.checkbox.small-2.columns {
    vertical-align: top;
}

.center {
    text-align: center;
}

.vertical-center-align {
    vertical-align: text-top;
}

.full-width {
    width: 100%;
}

/* table width*/
.profile, .orders { width: 100% !important; }

.img-top {
    vertical-align: top;
    max-height: 42px;
}

.fb-like {
    height: 350px;
}

.fb-like.small {
    height: 20px;
    overflow: hidden;
}

.ebay.what-next {
    color: #ff0000;
}

.ebay.luck {
    color: forestgreen;
}

.copyrights {
    color: gray;
    font-size: 80%;
}

.unsubscribe-explain-text {
    color: gray;
    font-size: 80%;
}

.about-header {
    text-align: center;
}



/* sticky footer */


* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
    /*padding: 24px 0 10px*/
}

.enclose {
    position:fixed;
    bottom:40px;
    width:100%;
}

.brown {
    color: saddlebrown;
}

.horizontal-center {
    margin-right: auto;
    margin-left: auto;
}

a[class*="foundicon-"] {
    display: inline-block;
}

/*.container {
    width: 1200px;
}


body {
    background-image: url("bg1.png");
    background-attachment: fixed;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
    background: #fff;
}

section {
    margin-top:1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

/*links*/

/*a {*/
    /*color: #09c;*/
    /*text-decoration: none;*/
/*}*/

/*a:hover {*/
    /*color: #069;*/
    /*text-decoration: underline;*/
/*}*/

/*a:visited {*/
    /*color: #069;*/
/*}*/

/* navigation */

/*nav {*/
    /*float: right;*/
    /*background: white;*/
    /*padding: 0 0.7em;*/
    /*white-space: nowrap;*/
/*}*/

/*nav ul {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*nav ul li {*/
   /*list-style-type: none;*/
   /*display: inline-block;*/
   /*padding: 0.2em 0;*/
/*}*/

/*nav ul li a {*/
    /*padding: 0 5px;*/
    /*font-weight: bold;*/
/*}*/

/*nav ul li a:visited {*/
    /*color: #09c;*/
/*}*/

/*nav ul li a:hover {*/
    /*text-decoration: underline;*/
/*}*/



/*a.signup_button {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*text-align: center;*/
    /*width: 190px;*/
    /*color: #f0f0f0;*/
    /*font-size: 150%;*/
    /*font-weight: bold;*/
    /*padding: 20px;*/
    /*background: #0099ff;*/
/*}*/

/* round corner */

/*.round { *//* dot because it's class */
    /*-moz-border-radius:     10px;*/
    /*-webkit-border-radius:  10px;*/
    /*border-radius:          10px;*/
/*}*/

/* 3D button */
/*a.threeD_button {*/
    /*background-color: #0012ba;*/
    /*padding:10px;*/
    /*position:relative;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size:12px;*/
    /*text-decoration:none;*/
    /*color:#fff;*/
    /*background-image: linear-gradient(bottom, rgb(30, 47, 170) 0%, rgb(72, 100, 212) 100%);*/
    /*box-shadow: inset 0px 1px 0px #4e4ef1, 0px 6px 0px #131d6f;*/
    /*border-radius: 5px;*/
/*}*/

/*a.threeD_button:active {*/
    /*top:7px;*/
    /*background-image: linear-gradient(bottom, rgb(30, 47, 170) 0%, rgb(72, 100, 212) 0%);*/
    /*box-shadow: inset 0px 1px 0px #4e4ef1, 0px -1px 0px #0d0c6f;*/
    /*color: #156785;*/
    /*text-shadow: 0px 1px 1px rgba(255,255,255,0.3);*/
    /*background: rgb(44,160,202);*/
/*}*/

/* footer */

/*footer {*/
    /*text-align: center;*/
    /*margin-top: 10px;*/
    /*width: 1200px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

/*}*/
/*footer nav {*/
    /*float: none;*/
/*}*/

/*h1 {*/
    /*font-family: verdana;*/
/*}*/

/* User show page*/

/*table.profile {*/
    /*width: 100%;*/
    /*margin-bottom: 0;*/
/*}*/

/*td.main {*/
    /*width: 80%;*/
    /*max-width: 80%;*/
    /*padding: 1em;*/
/*}*/

.button.brown {
    background-color: saddlebrown;
}
td.order_long {
    /*max-width: 150px;*/
    word-wrap: break-word;
    /*overflow: hidden;*/
}

/*td.order_date {*/
    /*min-width: 100px;*/
/*}*/

/*td.order_image {*/
    /*max-width: 140px;*/
    /*max-height: 140px;*/
    /*min-height: 100px;*/
    /*min-width: 100px;*/
    /*text-align: center;*/
/*}*/

/*td.order_image img {*/
    /*max-width: 80%;*/
    /*max-height: 80%;*/
/*}*/

td.sidebar {
    /*width: 20%;*/
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}

/*.profile img.gravatar {*/
    /*border: 1px solid #999;*/
    /*margin-bottom: -15px;*/
/*}*/

/*div.field, div.actions {*/
    /*margin-bottom: 10px;*/
/*}*/



/* Error messages */

/*.field_with_errors {*/
    /*padding: 2px;*/
    /*color: red;*/
    /*display: inline-block;*/
/*}*/

.panel.callout.error {
    background-color: #ff0000;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.browser_image {
    max-width: 100%;
}

/*ul.users {*/
    /*margin-top :1em;*/
/*}*/

/*ul.users li {*/
     /*list-style: none;*/
/*}*/

/*td.order_title {*/
    /*text-align: center;*/
    /*font-weight: bold;*/
/*}*/
/**/

#sthoverbuttonsMain {
    width: 45px!important;
}

.confirm_pass_invalid {
    border-color: red!important;
}

.confirm_pass_valid {
    border-color: green!important;
}

.ng-dirty.ng-invalid-email {
    border-color: red!important;
}

.ng-dirty.ng-valid-email.ng-valid-required {
    border-color: green!important;
}

.ng-dirty.ng-invalid-minlength {
    border-color: red!important;
}

.ng-dirty.ng-valid-minlength {
    border-color: green!important;
}

.ng-dirty.ng-invalid-required.ng-valid-minlength {
    border-color: red!important;
}

.ng-dirty.ng-invalid-required {
    border-color: red!important;
}

.ng-dirty.ng-invalid-pattern {
    border-color: red!important;
}