<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Your eBay subscription in <%= EbayUserMailer.site_name %> is about to expire!</h2>
<p>
  Hi, We want to inform you that your account linking to eBay is about to expire in <%= pluralize(@days_left_for_subscription, "day") %>.
</p>
<p>
	
  What should you do?<br />
  1. click <%= link_to "here", @ebay_settings_url %> or go to Settings -> eBay settings in your <%= EbayUserMailer.site_name %> account
</p>
<p>2. remove the one that is about to expire</p>
<p>3. create a new subscription to eBay!</p>
<p>4. this is it!</p>

<%= image_tag attachments.inline['logo.jpg'].url, alt: 'Order Tracking Logo' %>
</body>
</html>