<tr>
  <td class='ebay_nickname'>
    <%= ebay_account.name %>
  </td>
  <td class='ebay_expiration'>
    <%= ebay_account.expiration %>
  </td>
  <td class='delete_ebay_account'>
    <%= link_to "", ebay_user_path(ebay_account),
                :method => :delete,
                :data => { :confirm => "You sure?" },
                :class => "foundicon-trash brown",
                :title => "Delete #{ebay_account.name}" %>
  </td>
</tr>