

<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <!--<%= f.label :name %>-->
  <%= f.text_field :name,
                   :placeholder => 'Name',
                   'ng-init' => "name = '#{@user ? @user.name : ''}';",
                   'ng-model' => 'name',
                   'ng-required' => 'true' %>
</div>

<%= render 'shared/fields_mail_and_pass', :f => f, :require_password => ((defined? require_password) != nil) ? require_password : nil %>
