<h3 align=center>
  eBay Accounts
</h3>
<br />

<div class='text-center'>
    <%= link_to "Add eBay Account", new_ebay_user_path(@user), :class => 'button' %>
</div>
<br />
<% if @ebay_accounts.any? %>
    <div align=center>
      <h4>Existing accounts</h4>
      <br />
        <table class="ebay_accounts text-center" summery="eBay accounts">
          <thead>
          <tr>
            <th class="text-center">
              Account Nickname
            </th>
            <th class="text-center">
              Updates expiration
            </th>
            <th></th>
          </tr>
          </thead>
          <%= render :partial => 'users/ebay_account', :collection => @ebay_accounts %>
        </table>
    </div>

<% else %>
    <h4 align=center>No accounts attached yet</h4>
<% end %>



