<h3 align="center">Edit user</h3>

<div class='text-center small-12 medium-6 large-6 row'>
  <%= link_to "General Settings", general_settings_user_path(current_user), :class => 'button expand' %>
  <br />
  <%= link_to "Subscribe Settings", subscribe_settings_user_path(current_user), :class => 'button expand' %>
  <br />
  <%= link_to "Ebay Settings", ebay_settings_user_path(current_user), :class => 'button expand' %>

</div>