
<%= form_for(@user) do |f| %>

    <div class="small-11 medium-6 large-4 row">
      <br />
      <div class="field">
        <!--<%= f.label 'Old password' %>-->
        <%= f.password_field :old_password, :placeholder => 'Password',
                       'ng-model' => 'old_pass',
                       'ng-required' => 'true' %>
      </div>

      <%= render 'users/fields', :f => f, :require_password => false %>

      <div class="field">
        <% default_days_text = "Default number of days for order notification" %>
        <%= f.text_field :default_days_notification,
                   :title => default_days_text,
                   :placeholder => default_days_text,
                   'ng-init' => "default_days_notification = '#{@user.default_days_notification ? @user.default_days_notification : ''}';", 
                   'ng-model' => 'default_days_notification' %>
      </div>

      <div>
        <%= gravatar_for User.find(@user) %>
        <a href="http://gravatar.com/emails" target=_blank>change</a>
      </div>

      <div class="action" align="center">
        <%= f.submit "Update", :class => "button [tiny small large]" %><br />
      </div>
    </div>
<% end %>
