<h1>All users</h1>

<%= foundation_paginate @users %>

<ul class="users">
  <% @users.each do |user| %>
     <%= render 'user', :user => user, :current => @user %>
  <% end %>

</ul>

<%= foundation_paginate @users %>