<% if @signup_disabled %>
<br /><h3 class='brown center'>Currently Sign up isn't available</h3><br />
  <h4 class='brown center'><strong>subscribe NOW</strong> on the <%= link_to "main page", root_path %> and you'll get notified once the site is open</h4>
<% else %>
<h3 class='brown center'>Sign up</h3>
<div class="large-4 medium-4 small-12 row">
  <!--<div class="row">-->
    <%= form_for(@user, :html => {:name => 'signup'}) do |f| %>
      <div class='horizontal-center'>
        <%= render 'users/fields', :f => f %>
        <%= f.hidden_field :referer, :value => cookie_fetch_referer %>
        By signing up you agree with the <%= link_to 'Terms of use', terms_path, :target => "_blank" %>
        <div class="field center">
          <br /><br /><%= f.submit "Sign up", :class => 'button' %><br />
        </div>
      </div>
    <% end %>
  <!--</div>-->
</div>
<% end %>