<table class="profile" summary="Profile information">
  <div class='row'>
    <div class='small-12 medium-12 large-12'>
      <tr>
        <div class='small-12 medium-10 large-10 columns'>
            <td class="main">
              <%= render 'shared/mobile_apps' %>
              <%= render 'shared/feed' %>
            </td>
        </div>

      </tr>
    </div>
  </div>

</table>

