<h3 align="center">Notifications Settings</h3>

<%= form_for(@user) do |f| %>

    <div class="small-11 medium-4 large-4 row">
      <br />

      <div class="center field small-12 columns">
        <%= f.check_box :messages_notifications %>
        <%= f.label :messages_notifications %><br />
        <p class="unsubscribe-explain-text">Including announcements of new features, changes in the site, etc.</p><br />
      </div>

      <div class="center field small-12 columns">
        <%= f.check_box :orders_notifications %>
        <%= f.label :orders_notifications %><br />
        <p class="unsubscribe-explain-text">Including order tracking updates, adding orders notifications</p><br />
      </div>


      <div class="center field small-12 columns">
        <!--<%= f.label 'Old password' %>-->
        <%= f.password_field :old_password, :placeholder => 'Password' %><br />
      </div>

      <% if @unsubscribe_mail != nil %>
        <%= f.hidden_field :unsubscribe_leading_mail, :value => @unsubscribe_mail %>
      <% end %>
      <%= f.hidden_field :update_user_context, :value => 'subscribe' %>

      <div class="action" align="center">
        <br /><%= f.submit "Update", :class => "button [tiny small large]" %><br />
      </div>
    </div>
<% end %>
