<tr>

      <% if currect_user?(feed_item.user) %>
      <%= render 'orders/order', :order => feed_item %>

      <td class="small-2 medium-1 large-1 column">
        <h3>
      <% if !@archive_mode %>

          <%= link_to "", "/orders/#{feed_item.id}/complete",
                      :title  => "Mark as Picked",
                      :class => "checkmark foundicon-checkmark brown" %><br />
        <!--</h3>-->
      <!--</td>-->
      <% end %>
      <!--<td class='small-1 medium-1 large-1 column'>-->
        <!--<h3>-->
          <%= link_to "", "/orders/#{feed_item.id}/edit", :title => "Edit",
                                                            :class => "foundicon-edit brown" %><br />
        <!--</h3>-->
      <!--</td>-->

      <!--<td class='small-1 medium-1 large-1 column'>-->
        <!--<h3>-->
          <%= link_to "", feed_item,
                                :method => :delete,
                                :data   => { :confirm => "Are you sure?" },
                                :title  => "Delete",
                                :class => "foundicon-trash brown" %>
        </h3>
      </td>
      <% end %>

</tr>