
<% if @feed_items.any? %>

    <% if !@archive_mode %>
        <div class='small-12 medium-6 large-6 row'>
          <h3><strong><%= link_to "New Order", new_order_path, :class => 'button expand' %></strong></h3>
        </div>
    <% end %>

    <div class='pagination-centered'>
    <%= foundation_paginate @feed_items %>
    </div>

    <table class="orders" summery="Status feed">
    <thead>
      <tr>
        <%= render 'orders/order_titles' %>
      </tr>
    </thead>
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
    </table>

    <div class='pagination-centered'>
        <%= foundation_paginate @feed_items %>
    </div>

<% else %>

    <h2 class='text-center'><em>
          <% if @archive_mode %>
            No orders in archive..
        <% else %>
            <div class='small-12 medium-6 large-6 row'>
              <h4>No orders YET.</h4><br />
              <strong class='brown'>Get started:</strong><br /><br />
              <%= link_to "Make a New Order", new_order_path, :class => 'button expand success' %><br />
              <%= link_to "Attach eBay account", ebay_settings_user_path, :class => 'button expand' %><br />
              <%= link_to "Meet our Bookmarklet", bookmarklet_explain_path, :class => 'button expand alert' %><br />
            </div>
        <% end %>

    </em></h2>

<% end %>