<div class="field email">
  <!--<%= f.label :email %>-->

  <%= f.email_field :email,
                   :placeholder => 'Email',
                   'ng-init' => "email = '#{@user ? @user.email : ''}';",
                   'ng-model' => 'email',
                   'ng-required' => 'true' %>
</div>

<div class="field password">
  <!--<%= f.label :password %>-->
  <% password_required = (((defined? require_password) != nil) ? require_password : nil) != false %>
  <%= f.password_field :password,
                       :placeholder => 'New password',
                       'ng-model' => 'pass',
                       'ng-minlength' => 4,
                       'ng-required' => password_required.to_s %>
  <small class="error" ng-show="signup['user[password]'].$dirty && signup['user[password]'].$error.minlength">
    Password should be 4 characters or more
  </small>

</div>

<div class="field confirmation">
  <!--<%= f.label :password_confirmation, "Confirmation" %>-->
  <%= f.password_field :password_confirmation,
                       :placeholder => 'Confirm',
                       'ng-model' => 'pass_conf',
                       'ng-class' => "{confirm_pass_invalid: signup['user[password_confirmation]'].$dirty == true && pass_conf != pass,
                                       confirm_pass_valid: signup['user[password_confirmation]'].$dirty && pass_conf == pass}",
                       'ng-required' => password_required.to_s %>

</div>
