<div align=center class='logo'>
	<div class="hide-for-touch">
	  	<%= link_to android_app_logo_small, android_app_short, :target => "_blank" %>
  		<%= link_to ios_app_logo_small, ios_app_short, :target => "_blank" %>
  	</div>
</div>