<h3 align=center>
  Hi There!
</h3>

<div class="small-12 medium-6 large-6 row" ng-init='ebay_next_pressed = false;'>
    <p align=center class='ebay'>Attaching eBay account will allow eBay to send us
      new purchases you've made in order to add them automatically to your <em>Order Tracking</em> account.<br />
      <strong>Important:</strong> Your eBay username & password are not shared with <em>Order Tracking</em>.<br /></p>
    <p align=center class='ebay what-next'>What's next? <br /></p>
    <p align=center class='ebay'>
      Choose a nickname for the account and click "Next".<br />
      You'll be redirected to eBay to enter your credentials.<br />
      <!-- After completing eBay's process, choose a nickname for the account and check that it succeeded by clicking the "Check & Complete" button<br /> -->
    </p>
    <p align=center class='ebay luck'>
      GOOD LUCK</p>

    <div class='text-center'>
      <%= form_for(EbayUser.new, :html => {:name => 'ebay_new'}) do |f| %>

          <div>
            <%= f.text_field :name,
                             :placeholder => 'Account nickname',
                             'ng-model' => 'name',
                             'ng-required' => 'true' %><br />
            <%= f.hidden_field :session_id, :value => @session_id %>
          </div>

          <div class="actions">
            <%= f.submit "Next", :class => 'button',
            'ng-disabled' => "ebay_new['ebay_user[name]'].$dirty == nil ||
                               ebay_new['ebay_user[name]'].$dirty == false" 
            %>
          </div>

      <% end %>
    </div>
</div>
