  <td class="order_image small-3 medium-2 large-2 column">
    <span class="order_image_span">
      <% bLink = is_link?(order.site)
         if bLink %>
          <a href=<%= "#{order.site} target=\"_blank\">" %>>
         <% end %>
           <%= image_tag(order.image.url(:medium), :alt => "Order Image", :class => "order_image") %>
         <% if bLink %>
         </a>
         <% end %>
    </span>
  </td>

  <td class="order_long small-7 medium-2 large-2 column">
    <span class="description"><%= order.description %></span>
    <span class='show-for-small-only'><em><%= order.status %> 
      <% if @archive_mode != true %>
        <%= "#{pluralize(days_diff_abs(order.status_date, Date.current), "day")} #{days_diff_ago_or_ahead(order.status_date, Date.current)}" %>
      <% else %>
        on <%= order.status_date %>
      <% end %>    
    </em></span>
  </td>

  <td class="order_long medium-2 large-1 column hide-for-small-only">
    <span class="site"><%= create_site_for_view(order.site) %></span>
  </td>

  <td class="order large-1 medium-1 column hide-for-small-only">
    <span class="price"><%= order.price %></span>
  </td>

  <td class="order_date large-1 column hide-for-medium-down">
    <span class="purchase_date">
        <% if !(order.purchase_date.nil?) %>
          <%= "#{order.purchase_date}" %>
          <% if !@archive_mode %>
              </br><%= "(#{pluralize(days_diff_abs(order.purchase_date, Date.current), "day")} #{days_diff_ago_or_ahead(order.purchase_date, Date.current)})" %>
          <% end %>
        <% end %>
    </span>
  </td>

  <td class="order medium-1 large-1 column hide-for-small-only">
    <span class="status"><%= order.status %></span>
  </td>

  <td class="order_date medium-1 large-1 column hide-for-small-only">
    <span class="status_date">
      <% if !(order.status_date.nil?) %>
          <%= "#{order.status_date}" %>
          <% if !@archive_mode %>
              </br><%= "(#{pluralize(days_diff_abs(order.status_date, Date.current), "day")} #{days_diff_ago_or_ahead(order.status_date, Date.current)})" %>
          <% end %>
      <% end %>
    </span>
  </td>

  <td class="order_long medium-2 large-2 column hide-for-small-only">
    <span class="notes"><%= create_notes_for_view(order.notes) %></span>
  </td>