<th class="order_title small-3 medium-2 large-2 column">
  <span class="order_image_span"></span>
</th>

<th class="order_title small-7 medium-2 large-2 column">
  <span class="description">Description</span>
</th>

<th class="order_title medium-2 large-1 column hide-for-small-only">
  <span class="site">Site/<br />Link</span>
</th>

<th class="order_title medium-1 large-1 column hide-for-small-only">
  <span class="price">Price</span>
</th>

<th class="order_title large-1 column hide-for-medium-down">
    <span class="purchase_date">Purchase date</span>
</th>

<th class="order_title medium-1 large-1 column hide-for-small-only">
  <span class="status">Status</span>
</th>

<th class="order_title medium-1 large-1 column hide-for-small-only">
    <span class="status_date">Status date</span>
</th>

<th class="order_title medium-2 large-2 column hide-for-small-only">
  <span class="notes">Notes</span>
</th>

<th class="order_title small-2 medium-1 large-1 column"></th>
