<%= render 'shared/error_messages', :object => f.object %>
<div class="field small-12 columns">
  <%= f.label :description %>
  <%= f.text_field :description,
                   'ng-init' => "description = \"#{@order && @order.description ? @order.description.tr('\"', '') : ''}\";",
                   'ng-required' => 'true',
                   'ng-model' => 'description' %>
  <br />
</div>

<div class="field small-12 columns">
  <%= f.label :site, 'Site\Link' %>
  <%= f.text_field :site,
                   'ng-required' => 'true',
                   'ng-init' => "site = \"#{@order ? @order.site : ''}\";",
                   'ng-model' => 'site' %>
  <br />
</div>

<div class="field left small-6 columns">
  <%= f.label :price %>
  <%= f.text_field :price, :placeholder => 'Optional' %><br />
</div>

<div class="field small-6 columns">
  
  <%= f.label :purchase_date, 'Purchase Date' %>
  <%= f.text_field :purchase_date,
                   :class => 'datepicker',
                   'ng-init' => "purchase_date = '#{@order ? @order.purchase_date : ''}';",
                   'ng-model' => 'purchase_date',
                   'ng-pattern' => '/^(19|20)\d\d[-](((01|03|05|07|08|10|12)[-](0[1-9]|[12][0-9]|3[0-1]))|((04|06|09|11)[-](0[1-9]|[12][0-9]|30))|((02)[-](0[1-9]|1[0-9]|2[0-9])))$/',
                   'ng-required' => 'true'  %>
  <br />
</div>

<div class="field text_area_field small-12 columns">
  <%= f.label :notes %>
  <%= f.text_area :notes, :placeholder => 'Optional', :rows => 2 %>
  <br />
</div>

<% if current_user && current_user.allow_tracking_info %>
    <%= f.fields_for :package_tracking do |builder| %>
        <div class="field small-12 medium-6 columns">
          <%= builder.label :tracking_number, 'Tracking Number' %>
          <%= builder.text_field :tracking_number, :placeholder => 'Optional' %>
        </div>
    <% end %>
<% end %>

<div class="field small-12 columns">
  <%= f.label :days_notification %><br />
  <!--<div class='small-10 columns'>-->
  <h6>  <%= f.check_box :days_notification_enable %>
    notify me if order hasn't arrived in X days since purchased</h6>
</div>

<div class='field left small-6 columns'>
  <%= f.text_field  :days_notification, 
                    :placeholder => 'Number of Days',
                    'ng-init' => "days_notif = '#{@order ? @order.days_notification : ''}';",
                    'ng-model' => 'days_notif',
                    'type' => 'number',
                    'max' => '365',
                    'min' => '0' %>
</div>

<div class='field small-6 columns'>
  <%= link_to "Set default value", general_settings_user_path(current_user), :class => 'button tiny' %><br />
</div>

<!--<div class="row">-->
<div class="field small-12 columns">
  <%= f.label :image_remote_url, 'Image URL (limited to 2MB)' %>
  <%= f.text_field :image_remote_url,
                   :placeholder => 'Optional',
                   'ng-init' => "image_url = '#{@order ? @order.image_remote_url : ''}';",
                   'ng-model' => 'image_url',
                   'ng-pattern' => '/^(h|H)(t|T)(t|T)(p|P)(s|S)?:\/\//' %>
  <br />
</div>
<!--</div>-->