<h3 align="center">Edit Order</h3>
<div class="small-12 medium-6 large-6 row">

  <!--<div class="row">-->
    <%= form_for(@order) do |f| %>

        <%= render 'orders/order_basic_details', :f => f %>

        <!--<div class="row">-->
            <div class="field small-12 medium-6 large-6 columns">
              <%= f.label :status %><br />
              <%= f.select :status, options_for_select(%w[Ordered Shipped Delivered Picked Cancelled], :selected => @order.status) %>
            </div>

            <div class="field small-12 medium-6 large-6 columns">
              <%= f.label :status_date, 'Status relevant to Date' %><br />
              <%= f.text_field :status_date, :class => 'datepicker',
                               'ng-model' => 'status_date',
                               'ng-init' => "status_date = '#{@order ? @order.status_date : ''}';",
                               'ng-pattern' => '/^(19|20)\d\d[-](((01|03|05|07|08|10|12)[-](0[1-9]|[12][0-9]|3[0-1]))|((04|06|09|11)[-](0[1-9]|[12][0-9]|30))|((02)[-](0[1-9]|1[0-9]|2[0-9])))$/' %>
            </div>
        <!--</div>-->

            <div class="field small-12 medium-12 large-12 columns">
              <%= f.submit "Update order", :class => 'button expand' %><br />
            </div>

    <% end %>
  <!--</div>-->
</div>
