<h3 align='center'>New Order</h3>

<% if @source != "bookmarklet" && @source != "chrome_ext" %>
	<div class="small-12 medium-6 large-6 row">
<% end %>

<%= form_for @order, :url => orders_path, :html => { :multipart => true } do |f| %>

    <% if @source == "bookmarklet" || @source == "chrome_ext" %>
        <%= f.hidden_field :source, :value => @source %>
        <%= f.hidden_field :save_order_params, :value => @save_order_params %>
    <% end %>
    <%= render 'orders/order_basic_details', :f => f %>
    
    <br /><br /><%= f.submit "Submit order", :class => 'button expand' %>

<% end %>

<% if @source != "bookmarklet" && @source != "chrome_ext" %>
	</div>
<% end %>
