<div class='text-center'>
  <div class='small-10 medium-6 large-6 row'>
    <h1 class='brown'>
        <strong>Coming SOON!</strong>
    </h1>
    <h4 class="brown">
      <em>Sign up using the box below<br />
      Get notified once registration opens</em>
    </h4>
    <br />
  </div>
    <%= form_for Subscriber.new do |f| %>

      <div class="center field small-6 medium-4 large-3 row">
        <%= f.text_field :email, :placeholder => 'E-Mail' %><br />
        <%= f.submit "Subscribe NOW!", :class => 'button expand' %><br />
      </div>
    <% end %>
</div>