
<div class='small-11 medium-8 large-6 row'>
    <h1 class='about-header brown'>This is what it all ABOUT!!!</h1>

    <p>
      Order Tracking is a solution for people who make orders (and who doesn't?!?).<br />

      Whether you're ordering product on the internet or over the phone,
      you can insert it to your wall and have an organized list of all your orders,
      details like when you bought them, what is the current status of them, etc.<br />

      Afraid to forget an order? need a reminder?<br />
      No problem!! You can set notification to be sent after X days has been passed since you purchased the product.<br /><br />


      Many features are on development and will make your order organizing and tracking even simpler!<br /><br />

      <strong><%= link_to "Sign up now!!", signup_path %></strong><br /><br />

      <em><strong>Order Tracking Stuff</strong></em><br /><br />
    </p>
</div>