<div class="small-10 medium-8 large-8 row">
    <h1 align=center class="brown">
      <strong>Thank U for subscribing <em>Order Tracking</em> beta list!</strong><hr>
    </h1>
    <br />
    <p align=center>
      A mail was sent to your E-mail address. please verify that you received it.<br />
      SOON you'll start to organize your orders more easily and effectively!<br /><br />
      In case you haven't got the mail in the next 10 minutes, please check the E-mail you've entered and correct it if necessary.<br />
      If you need any assistance in this step, please <%= link_to "contact", contact_path %> us.<br />
    </p>
</div>