<div class="medium-8 large-8 row">
  <h1 align=center class="brown">
    <strong><em>Order Tracking</em> Bookmarklet</strong></h1>
  <h3 align=center class="brown">A super easy way to add your orders!</h3>
  <hr>

  <br />
  <p>
    <strong>What is it exactly?</strong><br />
    a new and easy way to add your orders, even more convenient than before!<br /><br />
    <strong>How it works?</strong><br />
    1. Drag the <strong>button</strong> below to your bookmarks bar.<br />
    2. Any time you're in a page of a product you want to add, just click the new bookmark you've just dragged!<br />
    3. your order added to your account!<br /><br /></p>
  <p align=center>
    <% if Rails.env == 'production'
        site_addr = 'www.ordertrk.com'
    else
        site_addr = '127.0.0.1:3000'
    end %>

    <%= link_to "Add to Order Tracking", "javascript:(function(){  _my_script=document.createElement('SCRIPT');  _my_script.type='text/javascript';  _my_script.src='http://#{site_addr}/bookmarklet/order_tracking_bookmarklet.js';  document.getElementsByTagName('head')[0].appendChild(_my_script);})();", :class => 'button' %>


  </p>
</div>