<div class='small-11 medium-10 large-8 row'>
  <h1 class='brown text-center'>Help...</h1>
    <h2>F.A.Q</h2>
    <p><strong>Q: How can i use the Chrome extension in the most easy way?</strong></br>
    A: First, you can copy the URL of the image of the product in advance, then select (mark) the price of the product and then click on the extention. The price form the selection will be automatically filled and you'll only have to paste the URL of the image. ENJOY the easyness!</p>

    <p><strong>Q: Can i set another notification after i got the first one?</strong></br>
    A: sure you can! just update the number of days in the edit menu of the order, and you'll get new notification</p>

    <p><strong>Q: Why can't i add order via my e-mail?</strong></br>
      A: You can send an e-mail with Paypal receipt to neworder@ordertrk.com.<br/>There are some things you need to check before you send a Paypal receipt:</br>
    1. check that the mail content is html (if you haven't changed this in Paypal preferences, it should be html.</br>
    2. check that the subject contains 'Paypal'</br>
    3. check that you're sending the mail from an e-mail address that registered in the site.</p>

    <p><strong>Q: How long after i make my purchase in eBay should i expect the order to appear in my <em>Order Trcking</em>
     account?</strong></br>
      A: The check for new buying is happening once every hour approximately, so you should expect the order to be
      added in less than a hour.</br>
    </p>

    <p><strong>Q: When I click on the browser plugin to add new order nothing happens, why is it?</strong></br>
      A: After check regular stuff (internet connectivity, etc.), check if the site you're on is HTTPS.</br>
      Currently the plugin (AKA 'bookmarklet') isn't supported on HTTPS sites. You can use the Chrome extension for HTTPS sites.
    </p><br/><br />
</div>