<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=214699361939893";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

//    function like() {
//        console.log("page_like_subscribe");
//        FB.Event.subscribe('edge.create', page_like_cb);
//        console.log("page_like_after_subscribe");
//    }
//    var page_like_cb = function(url, html_element) {
////        html_element.height = "350px";
//        console.log("page_like_cb");
//        $(".fb-like").height(350);
//        console.log("page_like_cb_after_set");
//    }
</script>
<br />
<h1 align=center><strong>Welcome!!</strong></h1>
<h3 align=center>Organize your orders.<br /><strong>One place.</strong><br />From this day on.</h3>

<br />

<div align=center class='logo'>
  <%= link_to android_app_logo, android_app_url, :target => "_blank" %>
</div>
<br />

<div align=center class='logo'>
  <%= link_to ios_app_logo, ios_app_url, :target => "_blank" %>
</div>
<br />

<div align=center>
  <%= link_to "Sign Up Now!", signup_path, :class => "signup_button radius button" %>
</div>

<div align=center>
    <%= link_to "Already a member?", signin_path %>
</div>

<br /><br />

<div align=center class='logo'>
  <%= logo %>
</div>
 <br /><br />
<div align=center>
<div class="fb-like facebook_container text-center" data-href="https://www.facebook.com/ordertrk" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
<br />

