<div class='small-11 medium-10 large-8 row'>
    <h1 class='brown text-center'>What's new??</h1>

    <p><strong><u>21/11/2015</u></strong></br>
    <p><strong>Order Tracking Chrome extension!</strong></br>
      Chrome extension is now available on the <em>Chrome Web Store</em>. It is an improvment comparing to the bookmarklet - it is easier to use and you can run it on HTTPS sites.</br>
      Download it <%= link_to "Here", chrome_ext_path %> and enjoy!</p>

    <p><strong><u>23/06/2015</u></strong></br>
    <p><strong>Order Tracking comes to AppStore also!</strong></br>
      We've finished to work on our <em>IOS</em> app and now <em>Apple's</em> products holders can use <em>Order Tracking</em> on their phones and tablets!</br>
      Download it <%= link_to "Here", ios_app_path %> and join the fun on iPhone and iPad!</p>

    <p><strong><u>18/12/2014</u></strong></br>
    <p><strong>Order Tracking Android app!</strong></br>
      We're glad to announce that our <em>Android</em> app is now live and kicking!</br>
      Download it <%= link_to "Here", android_app_path %> and enjoy the tracking on the move!</p>


    <p><strong><u>01/04/2014</u></strong></br>
    <p><strong>eBay integration!</strong></br>
      Starting today you can add <em>eBay</em> account to your <em>Order Tracking</em> Account!</br>
      After the simple adding, your orders from eBay will be added automatically and you'll receive updates about them!</br>
      See the settings menu for details.</br></p>

    <p><strong><u>11/01/2014</u></strong></br>
    <p>Automatic adding of orders via mail!</br>
      From now on you can add your orders simply!</br>
      Just forward your Paypal receipts to neworder@<%= UserMailer.site_url %> from your registered E-mail address
      and the order will wait for you inside your account! that SIMPLE!</p>

    <p><strong><u>17/12/2013</u></strong></br>
    <p>Notifications for orders are now available!</br>
    You can edit your orders or create a new ones and set reminder - see inside the order's details</p>
</div>