<div class='small-11 medium-8 large-6 row'>
  <h1>Terms of Use</h1>
  <p>Welcome to the "Order Tracking" Site. In order to use our Site (as defined below), you must agree to our Terms of Use. The Terms of Use are our "rules of the road", they are important and contain many legal disclosures that you should read carefully, including terms specifying permissible uses of the Site.
    These Terms of Use were last updated on December 22, 2013.</p>

  <h2>ACCEPTANCE OF TERMS OF USE</h2>
  <p>The website and links contained within or otherwise available through external hyperlinks within the Site will be collectively referred to as the "Site" in these Terms of Use. By using the Site, you ("you" or, "End User") agree to these Terms of Use and our Privacy Statement (collectively, the "Terms of Use" or "Agreement"). The term "using" includes any person or entity who accesses or uses the site with crawlers, robots, browsers, data mining, or extraction tools, or other functionality, whether such functionality is installed or placed by such person or entity or a third party. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, IMMEDIATELY STOP ACCESSING THE SITE AND DO NOT USE ANY ORDER TRACKING SERVICE.</p>
  <p><strong>1. Permitted Uses</strong></br>
    The Site provides an interactive online services which consisting primarily of organizing orders services for the convenience of the End User. As a condition of your use of this Site, you agree that:</br>
    &ensp;o	You are an individual person at least 18 years of age;</br>
    &ensp;o	You are able to create a binding legal obligation;</br>
    &ensp;o	Your use of this Site will at all times comply with the terms of this Agreement;</br>
    &ensp;o	If you elect to create an account:</br>
    &ensp;&ensp;	o	You may create only one account for your personal use;</br>
    &ensp;&ensp;	o	You may only make legitimate orders that comply with the terms of service and spirit of it;</br>
    &ensp;&ensp;	o	You must safeguard your password and supervise the use of your account, and you understand and agree that you are responsible for your own use </br>&ensp;&ensp;&ensp;&ensp;and the use of your account by anyone you allow to access it; and</br>
    &ensp;&ensp;	o	You are responsible for updating and correcting information you have submitted to the Site.</br>
    &ensp;o	You have the right to provide any and all information you submit to the Site, the information is only about yourself, and all such information is accurate, true, current and complete.</p>
  </p><strong>2. Access to the Site</strong></br>
  Order Tracking site retains the right at its sole discretion to deny service, or access to the Site or an account to anyone, at any time and for any reason. You acknowledge that there may be interruptions in service or events that are beyond our control. While we use reasonable efforts to keep the Site accessible, the Site may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of our control Site access may be interrupted, suspended or terminated.</p>
  <p><strong>3. Transmission of Information</strong></br>
    Because we do not control the security of the Internet or other networks you use to access the Site or communicate with us, we can't be, and are not responsible for, the security of information that you choose to communicate with the Site while it is being transmitted. In addition, we are not responsible for any data lost during transmission.</p>
  <p><strong>4. Your Conduct on our Site</strong></br>
    Our Site is private property. All interactions on this Site must be lawful and must comply with these Terms of Use. In case your behavior (as judged by us in our sole discretion), restricts or inhibits any other user from using or enjoying any part of this Site, we may limit your privileges on the Site and seek other remedies. PLEASE DO NOT ENGAGE IN ANY OF THE FOLLOWING ACTIVITIES, they are prohibited on the Site and constitute express violations of this Agreement:</br>
    &ensp;o	Submitting any purposely inaccurate information, committing fraud or falsifying information in your account, or other user's account;</br>
    &ensp;o	Attempting to access, or actually accessing, data not intended for you, such as logging into a server or an account which you are not authorized to access;</br>
    &ensp;o	Attempting to scan, or test the security or configuration of the Site or to breach security or authentication measures;</br>
    &ensp;o	Tampering or interfering with the proper functioning of any part, page or area of the Site or any functions or services provided by the site;</br>
    &ensp;o	Attempting to interfere with service to any user in any manner, including, without limitation, by means of submitting a virus to our Site, or attempts at overloading, "flooding", "spamming", "mail bombing" or "crashing" the Site;</br>
    &ensp;o	Using frames, framing techniques or framing technology to enclose any content included on the Site without our express written permission;</br>
    &ensp;o	Using any Site content in any meta tags or any other hidden text techniques or technologies without our express written permission;</br>
    &ensp;o	Using the Site to promote any commercial material</br>
    &ensp;o	Reselling or repurposing your access to the Site</br>
    &ensp;o	Collecting content from the Site, in any manner that diverts traffic from the Site without our express written permission;</br>
    &ensp;o	Collecting the Personal Information, data or content of any Site End Users;</br>
    &ensp;o	Using any End User from the Site for any commercial purpose;</br>
    &ensp;o	Accessing, monitoring or copying any content or information from this Site using any "robot", "spider", "scraper" or other automated means or any manual process </br>&ensp;&ensp;&ensp;for any purpose without our express written permission;</br>
    &ensp;o	Violating the restrictions in any robot exclusion headers on this Site or bypassing or circumventing other measures employed to prevent or limit access to this Site;</br>
    &ensp;o	Taking any action that places excessive demand on our services;</br>
    &ensp;o	Deep-linking to any portion of this Site without our express written permission;</p>
  <p><strong>5. Creating an Account on our Site</strong></br>
    If you create an account on our Site, you may only create and hold one account that you are solely responsible for managing. If you violate any of these limitations we may terminate your account. If we terminate your account, you may not re-enroll or join under a new account unless we formally invite you. If you commit fraud or falsify information in connection with your use of the Site, your account will be terminated immediately and we reserve the right to hold you liable for any and all damages that we suffer, to pursue legal action through relevant local and national law enforcement authorities and to notify your Internet Service Provider of any fraudulent activity we associate with you or your use of the Site.</p>
  <p><strong>6. Modification of this Agreement</strong></br>
    We reserve the right at all times to discontinue or modify any part of this Agreement as we deem necessary or desirable. If you have an account on the Site, any changes to these Terms of Use will be effective upon our posting of notice of the changes on our Site. These changes will be effective immediately for new and existing users of our Site. We suggest that you revisit our Terms of Use from time to time to ensure that you stay informed of any such notifications of changes to the Site. Your use of the Site after we update these Terms of Use will constitute acceptance of the modified Terms of Use.
    We also reserve the right to change or discontinue any aspect or feature of our services or the Site including, but not limited to, requirements for access or use.</p>
  <p><strong>7. Ownership of the Site.</strong></br>
    The content and information on the Site, is proprietary to us and our users. Order Tracking grants you a limited, personal, nontransferable, nonexclusive, revocable license to access and use the Site. You agree not to reproduce, distribute, create derivative works from, publicly display, publicly perform, license, sell or re-sell any data, content, information, software, products or services obtained from or through the Site without our express permission. In addition, you may not make any use that exceeds or violates these Terms of Use.</p>
  <p><strong>8. Site content.</strong></br>
    You may not modify, distribute, publish, transmit, publicly display, publicly perform, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part. Except as otherwise expressly stated under copyright law, no copying, redistribution, retransmission, publication or commercial exploitation of downloaded material without the express permission of Order Tracking Site or the copyright owner is permitted. You acknowledge that you do not acquire any ownership rights by downloading copyrighted material. Any violation of these restrictions may result in a copyright, trademark or other intellectual property right infringement that may subject you to civil and/or criminal penalties.
    You will not upload, post or otherwise make available on this Site any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. Order Tracking site will not aid you in determining whether the material in question is copyrighted or trademarked. You will be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission.
    You may not use Order Tracking's name, logos, trademarks, or brands without the site owner's express permission.</p>
  <p><strong>9. End User Communications.</strong></br>
    "Order Tracking" allows you and other End Users to use the Site to submit or post orders, notes, and other materials and content. In most instances, you will be required to have a user account which complies with all the requirements above in order to insert content.
    In contributing any content, you represent and warrant (a) you have created your content, or, (b) if you are acting on behalf of the creator, that you have express, advance authority from the creator to submit or post this content. You represent and warrant that you will not upload, post, transmit or otherwise make available content if they are unlawful, harmful, threatening, abusive, harassing, hateful, racist, infringing, pornographic, obscene, violent, misleading, defamatory or libelous, invasive of the privacy of another person, or violate any third party rights; or if they contain any material that harbors software viruses, or any other computer codes, files or programs designed to interrupt, destroy or limit the functionality of any software or computer equipment.
    "Order Tracking" shall have the sole and absolute right, but not the obligation, to review, edit, post, refuse to post, remove, monitor, and disclose to law authorities the content, at any time, for any reason, including to determine compliance with this Agreement, as well as to satisfy any applicable law, regulation or authorized government request. The site will not compensate the End User for any loss of data, whether it was caused on purpose or mistakenly.</p>
  <p><strong>10. Disclaimer of Warranty.</strong></br>
    YOU EXPRESSLY AGREE THAT USE OF THIS SITE IS AT YOUR SOLE RISK. NEITHER "ORDER TRACKING SITE", ITS OWNER, ITS STORAGE SITE AND DOMAIN SITE, WARRANT THAT USE OF THE SITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS SITE. "ORDER TRACKING" HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE OR THE CONTENT OR OTHER INFORMATION CONTAINED ON THE SITE.</p>
  <p><strong>11. Limitation of Liability.</strong></br>
    IN NO EVENT SHALL "ORDER TRACKING" OR ITS OWNER, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF THE SITE, THE CONTENT AND OTHER INFORMATION CONTAINED THEREIN. </p>
  <p><strong>12. Websites of Others</strong></br>
    The Site contains links to websites maintained by other parties. These links are provided by the End User. We expressly disclaim any representations regarding the content or accuracy of materials on such websites or the privacy practices of those websites. If you decide to access websites maintained by other parties, you do so at your own risk.</p>
  <p><strong>13. Termination.</strong></br>
    "Order Tracking" may terminate these Terms of Use at any time. Without limiting the foregoing, "Order Tracking" shall have the right to immediately terminate or suspend any of your passwords or accounts in the event "Order Tracking" considers, in its sole discretion, any of your conduct to be unacceptable, or in the event you breach this Agreement. Notwithstanding the above, these Terms of Use will survive termination of this Agreement.</p>
  <p><strong>14. Additional Disclosures.</strong></br>
    No waiver by either you or "Order Tracking" of any breach or default or failure to exercise any right allowed under this Agreement is a waiver of any preceding or subsequent breach or default or a waiver or forfeiture of any similar or future rights under our Agreement. The section headings used herein are for convenience only and shall be of no legal force or effect. If a court of competent jurisdiction holds any provision of our Agreement invalid, such invalidity shall not affect the enforceability of any other provisions contained in this Agreement, and the remaining portions of our Agreement shall continue in full force and effect.</p>
</div>