<p>Description: <% if !@tempQty.blank? && @tempQty != "1" %><%= @tempQty %> <% end %><%= @tempDesc %> </p>
<p>Site/Link: <% if @addr_is_link %><a href=<%= @tempLink %>><% end %><%= @tempLink %><% if @addr_is_link %></a><% end %> </p>
<p>Price: <%= @tempPayment %></p>