<p>Some of the details were missing, therefore the order hasn't created in your account. <br />
  Please verify that the mail you sent us is valid Paypal invoice in english. <br />
  If you think that the mail you sent us is valid, contact us or enter the details of the order in your account.</p>