Order Notification
==================
We're sending you this notification according to your request.
It's been <%= @days_since_ordered %> days since you ordered "<%= @order_desc %>".
order's site: <%= @link %>

For your convenient, you can change the order settings <%= link_to "here", @order_link %>
