<h2>Order Notification</h2>
<p>We're sending you this notification according to your request.</p>
<p>It's been <%= @days_since_ordered %> days since you ordered "<%= @order_desc %>".</p>
<p><% if @addr_is_link %>Link to the <% end %>order's site: <% if @addr_is_link %><a href=<%= @link %>><% end %><%= @link %><% if @addr_is_link %></a><% end %></p><br/><br/>
<p>For your convenient, you can change the order settings <%= link_to "here", @order_link %></p>
