<h2>New Order</h2>
<p>Hello <%= @user.name %>,</p>
<% if @full_details_failure_mail %><p>We've received a new order from you with the following details:</p>
<p>
  <%= render 'mail_order_details' %>
</p>
<% end %>

<p><%= @error %></p>
