<h2>New Order</h2>
<p>Hello <%= @user.name %>,</p>
<p>We've received a new order from you with the following details:</p>

<%= render 'mail_order_details' %>

<p>If you want to add more details to the order, please <%= link_to 'sign in', @url %> to your account.</p>

