New Order
=========
Hello <%= @user.name %>,
We've received a new order from you with the following details:

  Description: <% if !@tempQty.nil? && @tempQty != "1" %><%= @tempQty %> <% end %><%= @tempQty %> <%= @tempDesc %>
  Site/Link: <%= @tempLink %>
  Price: <%= @tempPayment %>
  If you want to add more details to the order, please sign in to your account: <%= @url %>.

