New Order
=========
Hello <%= @user.name %>,
We've received a new order from you with the following details:
<% if @full_details_failure_mail %>
Description: <% if !@tempQty.nil? && @tempQty != "1" %><%= @tempQty %> <% end %><%= @tempQty %> <%= @tempDesc %>
Site/Link: <%= @tempLink %>
Price: <%= @tempPayment %>
<% end %>

<%= @error %>


