<h2>Order status changed</h2>
<p>Hello <%= @user.name %>,</p>
<p>We've received notification that the following order status changed:</p>

<%= render 'mail_order_details' %>
Previous status: <%= @tempPreviousState %>
New status: <%= @tempNewState %>

<p>If you want to see the full details of the order, please <%= link_to 'sign in', @url %> to your account.</p>
