Order status changed
====================
Hello <%= @user.name %>,
We've received notification that the following order status changed:

Description: <% if !@tempQty.nil? && @tempQty != "1" %><%= @tempQty %> <% end %><%= @tempQty %> <%= @tempDesc %>
Site/Link: <%= @tempLink %>
Price: <%= @tempPayment %>
If you want to add more details to the order, please sign in to your account: <%= @url %>.
Previous status: <%= @tempPreviousState %>
New status: <%= @tempNewState %>

If you want to see the full details of the order, please sign in to your account: <%= @url %> .

