<footer><br />

  <nav class="top-bar" data-topbar>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul>
              <div class='small-12 medium-8 large-4 row full-width'>
                <% if signed_in? %>
                    <li class='text-center small-3 column'><%= link_to "About", about_path %></li>
                    <li class='text-center small-3 column'><%= link_to "Contact", contact_path %></li>
                    <li class='text-center small-3 column'><%= link_to "News", news_path %></li>
                    <li class='text-center small-3 column'><%= link_to "Help", help_path %></li>
                <% else %>
                    <li class='text-center small-6 column'><%= link_to "About", about_path %></li>
                    <li class='text-center small-6 column'><%= link_to "Contact", contact_path %></li>
              <% end %>
              </div>
            </ul>
        </section>
  </nav>

</footer>