<header>
      <div>
          <nav class="top-bar full-width" data-topbar>
            <div class='small-12 medium-12 large-12'>
              <section class="top-bar-section">
                  <div class='small-8 medium-6 large-6 columns'>
                    <ul class="left">
                      <li class="vertical-center-align logo title">
                        <%= link_to logo_small, root_path %>
                      </li>
                    </ul>

                    <ul class="title-area hide-for-small-only">
                      <li class="name">
                        <h1><%= link_to "Order Tracking", root_path, :class => 'vertical-center-align' %></h1>
                      </li>
                    </ul>
                    <% if signed_in? %>
                    <ul class="title-area hide-for-small-only">
                        <%= link_to 'NEW! Chrome extenstion!', chrome_ext_path, :class => "button notice", :target => "_blank" %>
                    </ul>
                    <% end %>
                  </div>

                  <div class='small-4 medium-6 large-6 columns'>

                      <!-- Right Nav Section -->
                      <ul class="right">

                        <% if signed_in? %>

                            <li class="has-dropdown not-click hide-for-small-only">
                              <ul>
                              <%= gravatar_for @user, :size => 40 %>
                              <%= link_to current_user.name, user_path(current_user) %>
                              </ul>
                              <ul class="dropdown">

                                <li class='hide-for-small-only settings'><%= link_to "Settings", edit_user_path(current_user) %></li>

                                <li class='hide-for-small-only archive'><%= link_to "Archive", archive_user_path(current_user) %></li>
                                
                                <% if current_user.is_admin? %>
                                    <li class="hide-for-small-only "><%= link_to "Users", users_path %></li>
                                <% end %>

                                <li class='hide-for-small-only'><%= link_to "Bookmarklet", bookmarklet_explain_path  %></li>

                                <li class='signout'><%= link_to "Sign out", signout_path(current_user) %></li>
                              </ul>
                            </li>

                            <li class='show-for-small-only signout'><%= link_to "Sign out", signout_path(current_user) %></li>

                        <% else %>
                            <div class='small-12'>
                                <li><%= link_to "Sign in", signin_path %></li>
                            </div>
                        <% end %>
                      </ul>

                  </div>
              </section>
            </div>
          </nav>
        </div>

</header>