<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>-->
<!--<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>-->
<!--[if lt IE 8]>
<%= stylesheet_link_tag 'blueprint/ie' %>
<%= stylesheet_link_tag 'general_enclosed_foundicons_ie7' %>
<![endif]-->
<%= stylesheet_link_tag 'stylesheets/general_enclosed_foundicons' %>
<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<%= stylesheet_link_tag 'application' %>


