<!-- show-for-small-only-->
<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <a href="<%= root_path %>"><h3><span><%= logo_small %></span><span class="title">  Order Tracking</span></h3></a>

  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <% if signed_in? %>
        <li><label><%= link_to "Main", user_path(current_user) %></label></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Archive", archive_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path(current_user) %></li>
    <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</aside>
