<!DOCTYPE html>
<html lang="en" ng-app="ordertracking">
  <head>
    <%= favicon_link_tag %>
	<title><%= title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Can't track your orders ANYMORE? forgot what you've ordered and when?
    USE Order Tracking! take control over your orders and arrange all of them in one place!"/>
    <meta name="keywords" content="order tracking, ordertrk, order, orders tracking, parcel tracking,
    shipment tracking, order track, track orders, organize orders, orders organizing"/>

    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js" if Rails.env == 'production' %>
    <%= javascript_include_tag "js/angular.min" if Rails.env == 'development' %>
    <%= javascript_include_tag "js/angular-main.js" %>

    <%= render 'layouts/google_analytics' if Rails.env == 'production' %>
  </head>
  <body>
  <!--[if lte IE 9]>
    <div class="broswer-not-supported center">
        <h1>
            This Browser is not supported<br /><hr>
        </h1>

        <h3>
            Please open the site with more modern browser<br />
            and have better user experience!
        </h3>
        <h3>
        <table align=center>
            <tr>
                <td>
                    <a href="http://www.mozilla.org/en-US/firefox/new" target="_blank"><%= image_tag("Firefox-icon.png", :alt => "Download Firefox", :class => "browser_image") %></a>
                </td>
                <td>
                    <a href="http://www.chrome.com" target="_blank"><%= image_tag("chrome3D-icon.jpg", :alt => "Download Chrome", :class => "browser_image") %></a>
                </td>
            </tr>
            <tr>
                <td>
                    Firefox
                </td>
                <td>
                    Chrome
                </td>
            </tr>
        </table>
        </h3>
    </div>
  <![endif]-->

  <!--[if !IE]> -->
  <div class="wrapper">
    <div class="container">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <!--for small screens-->
            <div class='show-for-small-only'>
              <%= render 'layouts/tab_bar' %>
            </div>

            <!--for medium & up if touch-->
            <div class='show-for-medium-up'><div class='show-for-touch'>
              <%= render 'layouts/tab_bar' %>
            </div></div>

            <section class='main-section'>

              <div class='hide-for-touch'><div class='hide-for-small'>
                <%= render 'layouts/header' %>
              </div></div>

              <section class="round">
                <div class="row" align="center">
                  <% flash.each do  |key, value| %>

                    <% altkey = (key == :error) ? :alert : key %>
                    <div class="flash <%= altkey %> alert-box radius small-6">
                      <%= value %>
                    </div>
                  <% end %>
                </div>
            
                <%= yield %>
            
              </section>
            </section>
          <a class="exit-off-canvas"></a>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>
  <div class="footer">
    <%= debug(params) if Rails.env.development? %>
    <p class='text-center copyrights'>   <%= "\xC2\xA9".force_encoding('UTF-8') %> Copyright 2012-<%= Date.current.year %> Order Tracking</p>
    <%= render 'layouts/footer' %>
  </div>

  <div class="hide-for-small">
    <%= render 'layouts/share_this_body_scripts' %>
  </div>
  <![endif]-->
  </body>
</html>

