<!DOCTYPE html>
<html lang="en">
    <head>
      <%= favicon_link_tag %>
      <title><%= title %></title>
      <%= csrf_meta_tags %>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <meta name="description" content="Can't track your orders ANYMORE? forgot what you've ordered and when?
        USE Order Tracking! take control over your orders and arrange all of them in one place!"/>
      <meta name="keywords" content="order tracking, ordertrk, order, orders tracking, parcel tracking,
        shipment tracking, order track, track orders, organize orders, orders organizing"/>

      <% if @source == "bookmarklet" %>
        <%= stylesheet_link_tag 'stylesheets/lightbox' %>
      <% else %>
        <%= stylesheet_link_tag 'stylesheets/lightbox_chrome' %>
      <% end %>
      <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'custom', :media => 'screen' %>

      <%= javascript_include_tag "vendor/modernizr" %>
      <%= javascript_include_tag "application" %>

      <%= render 'layouts/google_analytics' if Rails.env == 'production' %>
    </head>
    <body>
        <div id="light" class="white_content">
          <%= yield %>
        </div>
        <div id="fade" class="black_overlay"></div>
    </body>
</html>
